<section id="banner">
    <div class="content">
        <header>
            <h2>Простые рецепты вкусных блюд</h2>
            <p class="span-darker">Рецепты первых и вторых блюд, а также десертов и напитков. Тысячи идей что приготовить на завтрак или ужин. Читайте, готовьте, наслаждайтесь!</p>
        </header>
        <p>Аппетитный лаваш с начинкой и румяные чебуреки с мясом, пикантные картофельные зразы и хрустящие квашеные огурцы, изысканный печеночный торт и фаршированный перец, необычный жульен и нежное тирамису, гречневые котлеты и домашнее мороженое! Хватит писать рецепты на листочках – у нас есть все, что нужно на обед и ужин, завтрак и десерт!</p>
        <ul class="actions">
            <li>
                <a href="#" class="button big">Подробнее</a>
            </li>
        </ul>
    </div>
    <span class="image object">
        <img src="~/images/pizza2.jpg" alt>
    </span>
</section>
<!-- Section -->
<section>
    <header class="major">
        <h2>Первые блюда</h2>
    </header>
    <div class="row aln-center align-center">
        <div class="col-12">
            <span class="image right">
                <img src="~/images/ramen.jpg" alt>
            </span>            
            <b>Первые блюда</b> - жидкие блюда на основе воды, приготовляемые методом варки. Традиционно подаются к столу первыми, за что и получили своё название. Считается, что приготовление первых блюд человеком началось с появлением посуды, позволяющей варить в ней продукты. С течение времени развивались знания и умения человека, развивалась кулинария, первые блюда становились всё более сложными и изощренными. Сегодня <b>рецепты первых блюд</b> поражают своим многообразием. Самые популярные, пожалуй, всё же первые блюда из мяса. Они, как говорится, есть на любой вкус. Это первые блюда из курицы, первые блюда из говядины, первые блюда из свинины, первые блюда из баранины.
            <span class="image left">
                <img src="~/images/tomyam.jpg" alt>
            </span>
            Существуют всенародно любимые первые блюда — солянка, например. Для тех, кто не любит первые блюда из мяса, рецепты предлагают использовать рыбу, грибы, различные овощи. Придуманы и специальные первые блюда для детей: обычно они диетические или сладкие. Женщина, которая умеет готовить вкусные первые блюда, может всегда рассчитывать на благосклонность мужчины. Перед ароматом супа и невозможно устоять! Именно поэтому, мы собрали на нашем сайте самые вкусные рецепты первых блюд. Надо заметить, что если вы решили приготовить первые блюда, рецепты с фото будут вам особенно полезны. Первые блюда с фото вы увидите и нашем сайте. А потом <b>первые блюда</b> окажутся и на вашем столе
        </div>
    </div>
    <div class="align-center" style="padding-top: 1em;">
        <a href="#" class="button primary">Перейти</a>
    </div>
</section>
<!-- Section -->
<section>
    <header class="major">
        <h2>Вторые блюда</h2>
    </header>
    <div>
        <p>
            <span class="image right">
                <img src="~/images/carbonara.jpg" alt>
            </span>
            Еще один традиционный рецепт пасты, быстрый, недорогой и вкуснейший. Истинная карбонара готовится за 15 мин и сливкам в ней не место. Все, что вам нужно – свежие яйца, кусок жирной свиной грудинки и горстка тертого пармезана. Ну и спагетти.
        </p>
        <p>
            <span class="image left">
                <img src="~/images/fetuchini.jpg" alt>
            </span>
            Насыщенный и сливочный соус с сыром пармезан идеален для феттучини. Ужин, на приготовление которого потребуется всего 15 минут вызовет настоящее восхищение!
        </p>
    </div>
    <a href="#" class="button primary fit">Перейти</a>
</section>
<!-- Section -->
<section>
    <header class="major">
        <h2>Популярные рецепты</h2>
    </header>
    <div class="posts">
        <article>
            <a href="#" class="image">
                <img src="~/images/pelmeni.jpg" alt>
            </a>
            <h3>Пельмени</h3>
            <p>Пельмени – древнее блюдо, имеющее древние китайские, финно-венгерские, тюркские и славянские корни. Аналоги рецепта пельменей есть во многих кухнях мира. Вкус, сытность и удобство хранения сделали пельмени исключительно популярными. Готовые пельмени можно купить в любом продуктовом магазине. Но, конечно, самые вкусные – домашние пельмени, даже простые ленивые пельмени.</p>
            <ul class="actions">
                <li>
                    <a href="#" class="button">Смотреть</a>
                </li>
            </ul>
        </article>
        <article>
            <a href="#" class="image">
                <img src="~/images/sirniki2.jpg" alt>
            </a>
            <h3>Сырники</h3>
            <p>Как сделать сырники, простое и очень домашнее блюдо? Чего только в сырники не добавляют, фантазируя и экспериментируя, но чаще всего все равно возвращаются к самому простому классическому варианту, с минимальным количеством ингредиентов. Как приготовить сырники, что бы то ни было, результат всегда зависит от основного ингредиента – творога. Конечно, домашний творог – это самое лучшее.</p>
            <ul class="actions">
                <li>
                    <a href="#" class="button">Смотреть</a>
                </li>
            </ul>
        </article>
        <article>
            <a href="#" class="image">
                <img src="~/images/tsezar.jpg" alt>
            </a>
            <h3>Салат Цезарь</h3>
            <p>Описание</p>
            <ul class="actions">
                <li>
                    <a href="#" class="button">Смотреть</a>
                </li>
            </ul>
        </article>
        <article>
            <a href="#" class="image">
                <img src="~/images/tiramisu.jpg" alt>
            </a>
            <h3>Тирамису</h3>
            <p>Описание</p>
            <ul class="actions">
                <li>
                    <a href="#" class="button">Смотреть</a>
                </li>
            </ul>
        </article>
    </div>
</section>
<!-- Section -->
<section>
    <header class="major">
        <h2>Десерты</h2>
    </header>
    <div>
        <p>
            <span class="image left">
                <img src="~/images/napoleon.jpg" alt>
            </span>
            Metus magna nec rutrum tempus, et porttitor pharetra nibh porttitor odio — morbi sodales duis risus ut justo porta arcu lorem curabitur odio enim sapien, sodales odio, porttitor in auctor sem curabitur at vulputate vitae mauris proin pellentesque nec congue vitae eu eget amet lorem nulla at adipiscing quisque leo commodo
        </p>
        <p>
            <span class="image right">
                <img src="~/images/tart.jpg" alt>
            </span>
            Metus magna nec rutrum tempus, et porttitor pharetra nibh porttitor odio — morbi sodales duis risus ut justo porta arcu lorem curabitur odio enim sapien, sodales odio, porttitor in auctor sem curabitur at vulputate vitae mauris proin pellentesque nec congue vitae eu eget amet lorem nulla at adipiscing quisque leo commodo
        </p>
    </div>
    <a href="#" class="button primary fit">Перейти</a>
</section>
<!-- Section -->
<section>
    <header class="major">
        <h2>Напитки</h2>
    </header>
    <div>
        <p>
            <span class="image left">
                <img src="~/images/cocktail.jpg" alt>
            </span>
            Metus magna nec rutrum tempus, et porttitor pharetra nibh porttitor odio — morbi sodales duis risus ut justo porta arcu lorem curabitur odio enim sapien, sodales odio, porttitor in auctor sem curabitur at vulputate vitae mauris proin pellentesque nec congue vitae eu eget amet lorem nulla at adipiscing quisque leo commodo
        </p>
        <p>
            <span class="image right">
                <img src="~/images/mohito.jpg" alt>
            </span>
            Metus magna nec rutrum tempus, et porttitor pharetra nibh porttitor odio — morbi sodales duis risus ut justo porta arcu lorem curabitur odio enim sapien, sodales odio, porttitor in auctor sem curabitur at vulputate vitae mauris proin pellentesque nec congue vitae eu eget amet lorem nulla at adipiscing quisque leo commodo
        </p>
    </div>
    <a href="#" class="button primary fit">Перейти</a>
</section>